<script data-isso="https://comments.lisakov.com/" 
  <%  if (page.lang == 'ru') { %>
    data-isso-lang="ru" 
  <% } else if (page.lang == 'en') { %>
    data-isso-lang="en"
  <% } %>
  data-isso-css="true"
  data-isso-reply-to-self="true"
  data-isso-reveal-on-click="20"
  data-isso-reply-notifications="true"
  data-isso-vote-levels="-6,-3,0,3,6"
  src="https://comments.lisakov.com/js/embed.min.js">
</script>

<section id="isso-thread"></section>
